.header {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 100px;
}

#hram {
    /*width: 300px;*/
    height: 300px;
    z-index: 2;
    margin-top: 113px;
}

#logo {
    height: 300px;
}

#icon {
    /*width: 300px;*/
    height: 250px;
}

#gif {
    position: absolute;
    z-index: 1;
    width: 270px;
    height: 300px;
    margin-top: 100px;
}