
.body {
    display: flex;
    flex-direction: column;
    width: 1024px;
    border: solid black 1px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.header {
    width: 1024px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin: 0 auto;
    background: #EBEBEB;
    padding-bottom: 2px;
    padding-top: 5px;
}

.content_header {
    width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.content {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
}

#hram {
    height: 80px;
}

#logo {
    height: 100px;
    margin-right: 200px;
    margin-left: 200px;
}

#icon {
    height: 80px;
}

#niz {
    padding-top: 6px;
}
